@CHARSET "UTF-8";
#Content_Left{
    height:440px;
    /*width:300px;*/
    width:25%;
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    background:#FAF7FD;
    padding:0;
    margin:0;
}

#menus{
	margin:20px 0px 0px 20px;
}

.menu{
	margin-bottom: 3px;
	white-space: nowrap;
}

.task-link{
	text-decoration: none;
}

.task-icon-link{
	text-decoration: none;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

#compareHistory{
	margin-top:20px;
	margin-left:20px;
	margin-bottom:15px;
	padding-right:15px;
	padding-left:15px;
	border:1px solid #f0f0f0;
	border-radius: 4px;
}

.pane-header {
	height:35px;
	line-height:35px;
	padding:5px;
	color:#3b3b3b;
    font-weight:700;
    background:#E2D7E7;
    vertical-align: center;
}

.pane-content{
	border: medium none;
	margin:0;
	padding:0;
}
